<?xml version="1.0"?>
<config>
    <modules>
        <Philwinkle_LinkGuestOrder>
             <version>0.1.0</version>
        </Philwinkle_LinkGuestOrder>
    </modules>
    <admin>
    </admin>
    <global>
        <blocks>
            <linkguestorder>
                <class>Philwinkle_LinkGuestOrder_Block</class>
            </linkguestorder>
        </blocks>
        <helpers>
            <linkguestorder>
                <class>Philwinkle_LinkGuestOrder_Helper</class>
            </linkguestorder>
        </helpers>
    </global>
    <adminhtml>
    </adminhtml>
    <frontend>
        <events></events>
        <routers>
            <linkguestorder>
                    <use>standard</use>
                    <args>
                        <module>Philwinkle_LinkGuestOrder</module>
                        <frontName>linkguestorder</frontName>
                    </args>
            </linkguestorder>
        </routers>
        <translate>
            <modules>
                <Philwinkle_LinkGuestOrder>
                    <files>
                        <default>Philwinkle_LinkGuestOrder.csv</default>
                    </files>
                </Philwinkle_LinkGuestOrder>
            </modules>
        </translate>
        <layout>
            <updates>
                <updateguestorder>
                    <file>linkguestorder.xml</file>
                </updateguestorder>
            </updates>
        </layout>
    </frontend>
    <default>
        <linkguestorder>
        </linkguestorder>
    </default>
</config>